ci
data_corpus
images
test
venv
logdir/generate
logdir/generated_audio
logdir/train/accordion
logdir/train/percussion
logdir/train/2022-10-19T22-42-34
logdir/train/2022-10-19T22-47-18
logdir/train/2022-10-25T02-10-19
logdir/train/2022-10-25T15-29-37
logdir/train/2022-12-16T02-25-17
logdir/train/2022-12-26T01-01-01

generated.wav
requirements_gpu.txt
requirements_test.txt